
.btn:hover {
  box-shadow: 0 0 0 8px rgba(#6699ff, 0.2);
}

.btn{
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(transparent, 0.2);
  transition: box-shadow 0.3s;
}