.goods-item {
  display: flex;
  align-items: center;
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 1000px;
}

.item-info {
  margin-left: 15px;
}

.item-heading {
  display: flex;
  justify-content: space-between;
}

.item-title {
  text-align: left;
  color: #00658b;
  margin-bottom: 5px;
}

.item-subtitle {
  color: #404040;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin: 0px;
}

.item-cart-fav {
  display: flex;
  align-items: center;
}

.item-img {
  margin-left: 5px;
  max-width: 253px;
  height: 190px;
}

.favIcon {
  height: 30px;
  width: 30px;
}

.item-price {
  margin: 0;
  color: #fe5214;
  font-weight: 700;
  text-align: left;
}

.item-snippet {
  text-align: left;
  max-width: 820px;
}

.item-addInfo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.addInfo {
  padding: 4px 6px 3px 6px;
  margin-right: 2px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  font-size: 13px;
  display: flex;
}
.addInfo-icon{
  width: 15px;
  height: 15px;
  padding-right: 3px;
}