.header{
  margin-top: 30px;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.header-nav-list{
  display: flex;
}
.list-item{
  list-style: none;
}
.list-item-text{
  border: 1px solid white;
  text-decoration: none;
  color: #252525;
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 15px;
  box-sizing: border-box;
}
.list-item-active{
  color: white;
  background-color: #fe5214;
  border-radius: 5px;
}
.list-item-text:hover{
  border: 1px solid #fe5214;
  border-radius: 5px;
}
.header-heading{
  background-color: #003e55;
  height: 95px;
  color: white;
}