.cart-items-wrapper{
  border-radius: 5px;
  border: 1px solid blue;
  position: absolute;
  background-color: rgb(102, 153, 255);

  p{
    color: white;
  }
}
.cart-title{
  background-color: black;
}